@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:wght@100&display=swap');

body{
    background: rgb(34, 34, 34);
}
/* Navbar Designs */
.navbar-background{
    background: rgb(24, 24, 24);
}

.logo-text{
    font-family: 'Roboto Mono', monospace;
    color: rgb(71, 223, 185);
    font-size: 1rem;

}

.logo-text:hover{
    color: rgb(36, 122, 101);
    text-decoration: none;
}

.nav-bar-links>li>a{
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
}

.nav-links:hover{
    color: orangered;
}

.toogle-butt{
    border: none;
}

.toogle-butt:focus{
    outline: none;
}

/* Introduction Designs */
.introduction{
    height: 40vh;
    background: teal;
}

/* Welcome Designs */
.welcome-container{
    height: 30vh;
    background: rgb(34, 34, 34);
}

.welcome-container h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.explore-butt{
    border-radius: 0;
}

.explore-butt:hover{
    box-shadow: rgb(255, 86, 24) 3px 3px 1px;

}
@media only screen and (max-width: 600px) {
    .welcome-container{
        height: 50vh;
        background: rgb(34, 34, 34);
    }
  }

/* Text Designs */
.text-white{
    color: honeydew;
}

.text-gray{
    color: rgb(124, 122, 122);
}

.text-light-grey{
    color: rgb(207, 207, 207);
}

/* Login Input Text */
.login-input-text{
    border: none;
    border-radius: 0px;
    color: rgb(255, 255, 255);
}

.login-butt{
    background: black;
}

/* Item Table List*/
.item-table-border{
    border: rgb(255, 255, 255) 1px solid;
}
.item-table-bg{
    background-color: rgb(0, 145, 0);
}